.GoodList {
  padding: 10px;
  display: grid;
  gap: 18px;
  // border: 2px solid green;
}

.GoodCard {
  width: fit-content;
  padding: 10px;
  border-radius: 8px 4px;
  background-color: #ddd;
  // border: 10px solid black;
  // outline: 10px solid red;
}

.active {
  background-color: #aaa;
}
